// vim: syntax=groovy expandtab
/****************************************
 * CTMR biopsy metagenomics profiling
 * ------------------------------------
 * All environment-specific configurations
 * are stored in the 'conf' folder and
 * imported under profile names here.
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/


profiles {
    milou {
        includeConfig 'conf/milou.config'
    }
}

manifest {
    homePage = 'https://github.com/boulund/ctmr_biopsies_test'
    description = '''Metagenomics analysis workflow for taxonomic profiling of biopsy metagenomes.'''
    mainScript = 'main.nf'
}
