// vim: syntax=groovy expandtab
/****************************************
 * CTMR biopsy metagenomics profiling 
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/

params {
    outdir = './biopsy_pipeline_output'
    input_reads = '' 	// Specify on command line as: --input_reads path/to/reads*{1,2}.fq
    kaiju_db = '/proj/b2016371/nobackup/db/kaiju/proGenomes/kaiju_db.fmi'
    kaiju_nodes = '/proj/b2016371/nobackup/db/kaiju/proGenomes/nodes.dmp'
    kaiju_names = '/proj/b2016371/nobackup/db/kaiju/proGenomes/names.dmp'
    metaphlan_pickle = '/proj/b2016371/nobackup/db/metaphlan2/db_v20/mpa_v20_m200.pkl'
    metaphlan_bowtie2_db = '/proj/b2016371/nobackup/db/metaphlan2/db_v20/mpa_v20_m200'
}

env {
    PATH = ["~/bin",
            '$PATH'].join(":")
}

process {
    executor = 'local'
    errorStrategy = 'ignore' 
    stageInMode = 'symlink'
    stageOutMode = 'move'

    // Resource and module requirements for processes
    $kaiju {
        cpus = 8
        memory = 64.GB  // Documentation says about 13GB for proGenomes
        time = 1.h // {1.h * task.attempt}
    }
    $metaphlan2 {
        cpus = 8
        memory = 64.GB  
        time = 2.h // {3.h * task.attempt}
    }
}
